/* .info{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(78, 78, 77, 0.579);
    z-index: 100px;
}

.modal{
    width: 500px;
    background-color: black;
    
    padding: 20px;
    color: white!important;
} */
body{
    margin: 0;
    padding: 0;
    
    
    
}

*{
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: "Poppins",sans-serif;
}
ul>li>a:hover{
    color: greenyellow;
}

.active{
    color: greenyellow!important;
}

.wrp_icon>button{
    background-color: greenyellow;
    border: none;
    font-size: 20px;
    box-shadow: rgba(153, 255, 0, 0.77) 0px 5px 15px;
    color:white;
    padding: 15px;
    border-radius: 15px;
    font-weight: 600;
    
}
.text>h1:hover{
    -webkit-text-stroke: .7px rgb(255, 47, 47);
    color: transparent!important;
}

.wrp_icon i:hover{
    background-color: red;

}
.wrp_icon button:hover{
    transform: scale(1.1);

}

p::selection{
    color: red;
    background-color: black;

}


.dn{
    display: none!important;
    

}

.db{
    display: block!important;
}

.name{
    height: 70px ;
    color: black!important;
    -webkit-text-stroke: .7px greenyellow;
}

.logo{
    font-size: 40px;
    font-weight: 900;
}

.wrp_icon>a>i{
    border: 1px solid greenyellow;
    padding: 8px ;
    height: fit-content;
    border-radius: 50%;
   color: greenyellow;
}


@media screen and (min-width: 1000px) and (max-width:1600px) {

    
.about{
    flex-direction: row;
}

.about>img{
    width: 250px;
    height: 250px;
}

    
    .container{
        background-color: black;
        height: fit-content;
        padding: 0px 100px;
    }
    
    header{
        display: flex;
        justify-content: space-between;
     
         display: flex;
         text-transform: capitalize;
         align-items: center;
    }
    
  
    
    .menu>ul{
        display: flex;
        gap: 0px 30px;
        font-weight: 600;
        font-size: 20px;
    
    }
    
    section{
      
        height: 80vh;
        margin: 30px 0px;
    
        display: flex;
        align-items: center;
    }
    
    section>.text{
        width: 50%;
    }
    
    .text>h1{
        font-size: 50px;
       margin: 10px 0px;
    }
    .text>h3{
        font-size: 30px;
        font-weight: 400;
        
    }
    
    .wrp_icon{
      
        width: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    

    .wrp_img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        position: relative;
    }
    
    .img{
        
        width: 380px;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
      
        border-radius: 50%;
        
        position:relative;
       
        z-index:0;
        
    }
    
    .img::before {
        position: absolute;
        content: "";
        display: block;
        width: 410px;
        height: 410px;
        border-radius: 50%;
        background-image: conic-gradient(transparent,transparent,transparent,greenyellow);
        z-index: -5;
        
        animation:rotate infinite linear forwards 5s;
      
    }
    
    @keyframes rotate {
        
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    
    .c{
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .img::after {
        position: absolute;
        content: "";
        display: block;
        width: 380px;
        height: 380px;
        border-radius: 50%;
        background-color: black;
        z-index: -5;
        
    }
    
    
  }



  @media screen and (min-width:600px) and (max-width:1000px) {

    .about{
        flex-direction: row;
    }

    .about>img{
        width: 100px;
        height: 100px;
    }
    

    
    .container{
        background-color: rgb(16, 15, 15);
        height: fit-content;
        padding: 50px 0px;
    }
    
    header{
        display: flex;
        justify-content: space-between;
     
         display: flex;
         flex-flow:  column;
         text-transform: capitalize;
         align-items: center;
    }
    
 
    
    .menu>ul{
        display: flex;
        gap: 0px 30px;
        font-weight: 600;
        font-size: 20px;
    
    }
    
 
    
    section{
      
        height: fit-content ;
        margin: 30px 0px;
    
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    section>.text{
        width: 450px;
        margin-bottom: 50px;
    }
    
    .text>h1{
        font-size: 50px;
       margin: 10px 0px;
    }
    .text>h3{
        font-size: 30px;
        font-weight: 400;
        
    }
    
    .wrp_icon{
      
        width: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    

    

    .wrp_img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        position: relative;
    }
    
    .img{
        
        width: 380px;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
      
        border-radius: 50%;
        
        position:relative;
       
        z-index:0;
        
    }
    
    .img::before {
        position: absolute;
        content: "";
        display: block;
        width: 410px;
        height: 410px;
        border-radius: 50%;
        background-image: conic-gradient(transparent,transparent,transparent,greenyellow);
        z-index: -5;
        
        animation:rotate infinite linear forwards 5s;
      
    }
    
    @keyframes rotate {
        
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    
    .c{
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .img::after {
        position: absolute;
        content: "";
        display: block;
        width: 380px;
        height: 380px;
        border-radius: 50%;
        background-color: black;
        z-index: -5;
        
    }
   

  }

  @media screen and (min-width:100px ) and (max-width:600px) {

    .about>img{
        width: 80px;
        height: 80px;
    }
    

    .container{
        background-color: black;
        height: fit-content;
        padding: 50px 20px;
    }
    
    header{
        display: flex;
        justify-content: space-between;
     
         display: flex;
         flex-flow:  column;
         text-transform: capitalize;
         align-items: center;
    }
    
    .logo{
        font-size: 30px;
        font-weight: 900;
    }
    
    .menu>ul{
        display: flex;
        gap: 0px 10px;
        font-weight: 600;
        font-size:16px;
    
    }

    
    section{
      
        height: fit-content ;
        margin: 30px 0px;
    
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    section>.text{
        width: 100%;
        margin-bottom: 50px;
    }
    
    .text>h1{
        font-size: 40px;
       margin: 10px 0px;
    }
    .text>h3{
        font-size: 30px;
        font-weight: 400;
        
    }
    
    .wrp_icon{
      
        width: fit-content;
        display: flex;
        gap: 10px;
        justify-content:start;
        align-items: center;
        
    }
    
    .wrp_icon>button{
        background-color: greenyellow;
        border: none;
        font-size: 20px;
        box-shadow: rgba(153, 255, 0, 0.77) 0px 5px 15px;
        color:white;
        padding: 15px;
        border-radius: 15px;
        font-weight: 600;
        
    }
    
    .wrp_icon>a>i{
        border: 1px solid greenyellow;
        padding: 8px ;
        height: fit-content;
        border-radius: 50%;
       color: greenyellow;
    }
    .wrp_img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        position: relative;
        
    }
    

    .wrp_img>img{
        width: 300px;
    }

    .img{
        
        width: 280px;
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
      
        border-radius: 50%;
        
        position:relative;
       
        z-index:0;
        
    }
    
    .img::before {
        position: absolute;
        content: "";
        display: block;
        width: 260px;
        height: 260px;
        border-radius: 50%;
        background-image: conic-gradient(transparent,transparent,transparent,greenyellow);
        z-index: -5;
        
        animation:rotate infinite linear forwards 5s;
      
    }
    
    @keyframes rotate {
        
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    
    .c{
        width: 230px;
        height: 230px;
        overflow: hidden;
        
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c>i{
        width: 350px;
        height: 250px;
    }
    
    
    
    .img::after {
        position: absolute;
        content: "";
        display: block;
        width: 230px;
        height: 230px;
        border-radius: 50%;
        background-color: black;
        z-index: -5;
        
    }


    
  }

  .kub{
    width: 90%;

    height: 200px;
    
    margin: auto;

    position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
    

  }

  .cube{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    transform-style: preserve-3d;
    text-transform: uppercase;
    color: aliceblue;
    perspective: 10000px;

    

    

  
    
   


}
.tomon{
    width: inherit;
    height: inherit;
    position: absolute;
    line-height: 100px;
    text-align: center;
    border: 2px solid ;
   
    border-image: linear-gradient(45deg,red,blue) 30;

    
   
}
.old{
    transform: translateZ(50px);
    
}
.orqa{
    transform: translateZ(-50px) ;
   
}
.ong{
    transform: translateX(50px) rotatex(90deg) rotatey(90deg);
    
    
}
.chap{
    transform: translateX(-50px) rotateY(-90deg);
   
}
.tepa{
    transform: translateY( -50px) rotatex(90deg);
    

}
.past{
    transform: translateY(50px) rotatex(-90deg);

}


.about{

 margin-top: 50px;
    
    width: 90%;
    margin: auto;   
    margin-top: 20px;
    height: fit-content;

    display: flex;
   justify-content: space-between;
   
}

.about>img:hover{

    transform: scale(1.1);
    cursor: pointer;

}

.portiolio img{

    width: 250px;
    height: 200px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: white 0px 5px 15px;


}

.portiolio img:hover{
    box-shadow: rgba(66, 204, 7, 0.645) 0px 5px 15px;
}

.portiolio>.wrp{
display: flex;
justify-content: space-between;
align-items: center;
}





